<!DOCTYPE html>
<html>

<head>
    <title>Messages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Messages</h1>
        <% if (messages.length> 0) { %>
            <% messages.forEach((message)=> { %>
                <div class="card mb-3">
                    <div class="card-header">
                        <strong>
                            <%= message.fullname %>
                        </strong> (<%= message.email %>)
                    </div>
                    <div class="card-body">
                        <p>
                            <%= message.message %>
                        </p>
                        <p><small>
                                <%= message.date.toDateString() %>
                            </small></p>
                    </div>
                </div>
                <% }) %>
                    <% } else { %>
                        <p>Aucun message disponible.</p>
                        <% } %>
    </div>
</body>

</html>